#background {
  background-image:
      linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px !important;
  height: 60vh
}

#header-block {
  background-color: transparent !important;
  position: relative;
  top: 50%;
}

#header {
  font-weight: 600 !important;
  font-size: calc(100% + 3vw + 3vh) !important;
  background-color: transparent !important;
}

#sub-header {
  font-size: calc(100% + 0.5vw + 0.5vh) !important;
  background-color: transparent !important;
  font-style: italic;
}

.btn {
  background-color: #005BBB !important;
}

* {
  color: white;
  background-color: #1a1a1b !important;
}
